
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Classic Style a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classic Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- wishlist icon link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!---search bar-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/jquery.min.js'%}"></script>
<!-- //js -->
<!-- cart -->
<script src="{% static 'js/simpleCart.min.js'%}"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js'%}"></script>
<!-- //for bootstrap working -->
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css'%}" rel="stylesheet"> 
<script src="{% static 'js/wow.min.js'%}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<link href='//fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
</head>
	
<body>
<!-- header -->
	<div class="header">
			<div class="header-grid">
					<div class="container">
				<div class="header-left animated wow fadeInLeft" data-wow-delay=".5s">
					<style>
						* {box-sizing: border-box;}
						
						body {
						  margin: 0;
						  font-family: Arial, Helvetica, sans-serif;
						}
						
						.topnav {
						  overflow: hidden;
						  background-color: #e9e9e9;
						}
						
						.topnav a {
						  float: left;
						  display: block;
						  color: black;
						  text-align: center;
						  padding: 14px 16px;
						  text-decoration: none;
						  font-size: 17px;
						}
						
						.topnav a:hover {
						  background-color: #ddd;
						  color: black;
						}
						
						.topnav a.active {
						  background-color: #2196F3;
						  color: white;
						}
						
						.topnav .search-container {
						  float: right;
						}
						
						.topnav input[type=text] {
						  padding: 6px;
						  margin-top: 8px;
						  font-size: 17px;
						  border: none;
						}
						
						.topnav .search-container button {
						  float: right;
						  padding: 6px 10px;
						  margin-top: 8px;
						  margin-right: 16px;
						  background: #ddd;
						  font-size: 17px;
						  border: none;
						  cursor: pointer;
						}
						
						.topnav .search-container button:hover {
						  background: #ccc;
						}
						
						@media screen and (max-width: 600px) {
						  .topnav .search-container {
							float: none;
						  }
						  .topnav a, .topnav input[type=text], .topnav .search-container button {
							float: none;
							display: block;
							text-align: left;
							width: 100%;
							margin: 0;
							padding: 14px;
						  }
						  .topnav input[type=text] {
							border: 1px solid #ccc;  
						  }
						}
						</style>
						</head>
						<body>
						
						
						  <!-- <a class="active" href="#home">Home</a>
						  <a href="#about">About</a>
						  <a href="#contact">Contact</a> -->
						  <div class="search-container">
							<form method="POST" action="{% url 'search_brand' %}">
								{% csrf_token %}
							  <input type="text" placeholder="Search.." name="search">
							  <button type="submit"><i class="fa fa-search"></i></button>
							</form>
						  </div>
						
						
					
				</div>
				<div class="header-right animated wow fadeInRight" data-wow-delay=".5s">
				<div class="header-right1 ">
					<ul>
						{% if user.is_authenticated %}						
						<li><i class="glyphicon glyphicon-log-in" ></i><a href="{% url 'signout' %}">Signout</a></li>
						{% else %}
						<li><i class="glyphicon glyphicon-book" ></i><a href="{% url 'login' %}">Login</a></li>
						{% endif %}
						
						
						
					</ul>
					<div>
						
					</div>
				</div>
				<div class="header-right2">
					<div class="cart box_1">
						{% if user.is_authenticated %}
						<a href="{% url 'view_cart' %}">
							{% else %}
						<a href="{% url 'login' %}">
							{% endif %}
							<h3> <div class="total">
								</div>
								<img src="{% static 'images/cart.png'%}" alt="" />
							</h3>
							
						</a>
						<p><a href="" class="simpleCart_empty"> Cart</a></p>
						
						<div class="clearfix"> </div>
					</div>	
				</div>
				
				<div class="clearfix"> </div>
				</div>
				
				{% comment %} <style>
					.centered-heart {
					  display: flex;
					  justify-content: center;
					  align-items: center;
					  padding: 10px;
					}
				  </style>
				  
				  <div class="centered-heart">
					<a href="" class="fa fa-heart-o" style="font-size: 25px; color: white;"></a>
				  </div> {% endcomment %}
				
				
			</div>
			</div>
			
			<div class="container">
			<div class="logo-nav">
				
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						 <div class="navbar-brand logo-nav-left ">
							<h1 class="animated wow pulse" data-wow-delay=".5s"><a href="index.html">Classic<span>Style</span></a></h1>
						</div>

					</div> 
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'home' %}" class="act">Home</a></li>	
							<li class="active"><a href="{% url 'create_user_profile' %}" class="act">User</a></li>	
							
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu1</h6>
												
												<li><a href="{% url 'shop' %}">Accessories</a></li>
												<!-- <li><a href="products.html">Bags</a></li>
												<li><a href="products.html">Caps & Hats</a></li>
												<li><a href="products.html">Hoodies & Sweatshirts</a></li> -->
										
											</ul>
										</div>
										<!-- <div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu2</h6>
												<li><a href="products.html">Jackets & Coats</a></li>
												<li><a href="products.html">Jeans</a></li>
												<li><a href="products.html">Jewellery</a></li>
												<li><a href="products.html">Jumpers & Cardigans</a></li>
												<li><a href="products.html">Leather Jackets</a></li>
												<li><a href="products.html">Long Sleeve T-Shirts</a></li>

											</ul>
										</div> -->
										<!-- <div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu3</h6>
												<li><a href="products.html">Shirts</a></li>
												<li><a href="products.html">Shoes, Boots & Trainers</a></li>
												<li><a href="products.html">Sunglasses</a></li>
												<li><a href="products.html">Sweatpants</a></li>
												<li><a href="products.html">Swimwear</a></li>
												<li><a href="products.html">Trousers & Chinos</a></li>

											</ul>
										</div> -->
										<!-- <div class="clearfix"></div>
									</div>
									<div class="row-top">
										<div class="col-sm-6 row1">
											<a href="products.html"><img src="{% static 'images/me.jpg'%}" alt="" class="img-responsive"></a>
										</div>
										<div class=" col-sm-6 row2">
											<a href="products.html"><img src="{% static 'images/me1.jpg'%}" alt="" class="img-responsive"></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li> -->
							<!-- <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
								<ul class="dropdown-menu multi multi1">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu1</h6>
												
												<li><a href="products1.html">Accessories</a></li>
												<li><a href="products1.html">Bags</a></li>
												<li><a href="products1.html">Caps & Hats</a></li>
												<li><a href="products1.html">Hoodies & Sweatshirts</a></li>
										
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu2</h6>
												<li><a href="products1.html">Jackets & Coats</a></li>
												<li><a href="products1.html">Jeans</a></li>
												<li><a href="products1.html">Jewellery</a></li>
												<li><a href="products1.html">Jumpers & Cardigans</a></li>
												<li><a href="products1.html">Leather Jackets</a></li>
												<li><a href="products1.html">Long Sleeve T-Shirts</a></li>

											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu3</h6>
												<li><a href="products1.html">Shirts</a></li>
												<li><a href="products1.html">Shoes, Boots & Trainers</a></li>
												<li><a href="products1.html">Sunglasses</a></li>
												<li><a href="products1.html">Sweatpants</a></li>
												<li><a href="products1.html">Swimwear</a></li>
												<li><a href="products1.html">Trousers & Chinos</a></li>

											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="row-top">
										<div class="col-sm-6 row1">
											<a href="products1.html"><img src="{% static 'images/me2.jpg'%}" alt="" class="img-responsive"></a>
										</div>
										<div class=" col-sm-6 row2">
											<a href="products1.html"><img src="{% static 'images/me3.jpg'%}" alt="" class="img-responsive"></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li> -->
							
							
						</ul>
					</div>
					</nav>
				</div>
				
		</div>
	</div>
<!-- //header -->


<!-- banner -->
	<div class="banner">
	
	
	<div class="banner-right">
					<ul id="flexiselDemo2">			
						<li><div class="banner-grid">
						<h2>Featured Products</h2>
						<div class="wome">
								<a ><img class="img-responsive" src="{% static 'images/bi.jpg'%}" alt="" />
								</a>
								<div class="women simpleCart_shelfItem">
									<a ><img src="{% static 'images/ll.png'%}" alt=""></a>
									
									<p class="ba-price"><del></del><em class="item_price">₹7000.00</em></p>
									<!-- <a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a> -->
								</div>							
								</div>							
							</div></li>
						<!-- <li><div class="banner-grid">
						<h2>Featured Products</h2>
						<div class="wome">
								<a href="single.html" ><img class="img-responsive" src="{% static 'images/bi.jpg'%}" alt="" />
								</a>	
								<div class="women simpleCart_shelfItem">
									<a href="#"><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6 ><a href="single.html">Sed ut perspiciatis unde</a></h6>
									<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
								</div>						
								</div>						
							</div></li> -->
						<!-- <li><div class="banner-grid">
						<h2>Featured Products</h2>
						<div class="wome">
								<a href="single.html" ><img class="img-responsive" src="{% static 'images/bi2.jpg'%}" alt="" />
								</a>	
								<div class="women simpleCart_shelfItem">
									<a href="#"><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6 ><a href="single.html">Sed ut perspiciatis unde</a></h6>
									<p class="ba-price"><del>$100.00</del><em class="item_price">$70.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
								</div>						
								</div>						
							</div></li> -->
						
					
					</ul>
					<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo2").flexisel({
				visibleItems: 1,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 5000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 1
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 1
		    		}
		    	}
		    });
		    
		});
	</script>
		<script type="text/javascript" src="{% static 'js/jquery.flexisel.js'%}"></script>

					</div>

				
				</div>

	</div>
<!-- //banner -->
<!--content-->
		<div class="content">
		<div class="content-head">
					
					<div class="col-md-6 col-m1 animated wow fadeInLeft" data-wow-delay=".1s">
						<div class="col-1">
						<div class="col-md-6 col-2">
							<a><img src="{% static 'images/pi3.jpg'%}" class="img-responsive" alt="">
							</a></div>
							<!-- <div class="col-md-6 col-p">
								<h5>For All Collections</h5>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
								praesentium voluptatum deleniti atque</p>
								<a href="single.html" class="shop" data-hover="Shop Now">Shop Now</a>
							</div> -->
							<div class="clearfix"> </div>
						</div>
						<div class="col-1">
						<div class="col-md-6 col-p">
								<h5>For All Collections</h5>
								<!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
								praesentium voluptatum deleniti atque</p> -->
								<a href="{% url 'shop' %}" class="shop" data-hover="Shop Now">Shop Now</a>
							</div>
						<div class="col-md-6 col-2">
							<a ><img src="{% static 'images\glasses.jpg'%}" class="img-responsive" alt="">
							</a></div>
							<div class="clearfix"> </div>
						</div>
						</div>
					
					<div class="col-md-6 col-m2 animated wow fadeInRight" data-wow-delay=".1s">
					
						<!---->
						 <!-- requried-jsfiles-for owl -->
							<link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet">
							    <script src="{% static 'js/owl.carousel.js'%}"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 2,
									        lazyLoad : false,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false,
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">					                	 
										  
											<a ><img class="img-responsive" src="{% static 'images\sun.jpg'%}" alt="" /></a>  
											<a  class="shop-2" ></a>
								
					                </div>
									<div class="item">					                	  
										
											<a><img class="img-responsive" src="{% static 'images\photo_2023-06-07_10-43-52 (2).jpg'%}" alt="" /></a>  
											<a  class="shop-2"></a>									
																		
					                </div>
									
									<div class="item">					                	 
									
											<a><img class="img-responsive" src="{% static 'images\photo_2023-06-07_10-43-50.jpg'%}" alt="" /> </a> 
											<aclass="shop-2"></a>									
																			
					                </div>
									<div class="item">					                	  
										
											<a><img class="img-responsive" src="{% static 'images\glass.jpg'%}" alt="" /></a>  
											<a class="shop-2"></a>									
																		
					                </div>
							</div>
					   </div>
					   <div class="clearfix"></div>
			</div>	
					</div>
				
			<!---->
			
				<div class="content-top">
					<div class="col-md-5 col-md1 animated wow fadeInLeft" data-wow-delay=".1s">
						<div class="col-3">
							<a><img src="{% static 'images\glass.jpg'%}" class="img-responsive " alt="">
							<div class="col-pic">	
								<h5> </h5>
								
							</div></a>
						</div>
						
					</div>
					<div class="col-md-7 col-md2 animated wow fadeInRight" data-wow-delay=".1s">
						<!-- <div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a href="single.html">
											<div class="grid-img">
												<img  src="{% static 'myfirstproject/static/images/ar.png'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="{% static 'myfirstproject/static/images/catagories/download (1).jpeg'%}" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a href="#"><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a href="single.html">Ray-ban glasses</a></h6>
									<p ><del></del><em class="item_price">4000.00</em></p>
									<a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a>
								</div>
							</div>
						</div>
				 -->
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a>
											<div class="grid-img">
												<img  src="{% static 'images\black_green_full_rim_cat_eye_vincent_chase_polarized_vintage_vc.jpg'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="{% static 'images/pr2.jpg'}" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a href="single.html">Gucci</a></h6>
									<p ><del></del><em class="item_price">5000.00</em></p>
									<!-- <a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a> -->
								</div>
							</div>
						</div>
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
						<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a>
											<div class="grid-img">
												<img  src="{% static 'images\gold_pink_full_rim_cat_eye_vincent_chase_crystal_clear_vc_s11176.jpg'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<!-- <img  src="{% static 'images/pr4.jpg'%}" class="img-responsive"  alt=""> -->
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a ><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a>Fastrack</a></h6>
									<p><em class="item_price">5840.00</em></p>
									
								</div>
							</div>
						</div>
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a>
											<div class="grid-img">
												<img  src="{% static 'images\Gunmetal_Black_Full_Rim_Aviator_Vincent_Chase_LIVEWIRE_VC_S14507.jpg'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<img  src="{% static 'images/pr2.jpg'}" class="img-responsive"  alt="">
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a href="single.html">Polo</a></h6>
									<p ><del></del><em class="item_price">5900.00</em></p>
									<!-- <a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a> -->
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!----->
				<!---->
				<div class="content-top">
					
					<div class="col-md-7 col-md2 animated wow fadeInLeft" data-wow-delay=".1s">
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a>
											<div class="grid-img">
												<img  src="{% static 'images\lenskart-boost-lkb-s15355-c1-sunglasses_g_9101_13_01_2023.jpg'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<!-- <img  src="{% static 'C:\Users\aksha\OneDrive\Desktop\project1\myfirstproject\static\photos\products\black_green_full_rim_cat_eye_vincent_chase_polarized_vintage_vc_3XJE945.jpg'%}" class="img-responsive"  alt=""> -->
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a>Luis Viutton</a></h6>
									<p ><em class="item_price">45740.00</em></p>
									<!-- <a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a> -->
								</div>
							</div>
							
						</div>
				
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
							<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a>
											<div class="grid-img">
												<img  src="{% static 'images\silver_blue_full_rim_round_vincent_chase_livewire_vc_s14505_c5_polarized_4RXK3S8.jpg'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<!-- <img  src="{% static 'C:\Users\aksha\OneDrive\Desktop\project1\myfirstproject\static\photos\categories\raybonglass_8WEN4Rb.jpeg'%}" class="img-responsive"  alt=""> -->
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a>Vincent chase</a></h6>
									<p ><em class="item_price">1250.00</em></p>
									<!-- <a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a> -->
								</div>
							</div>
						</div>
						<div class="col-sm-4 item-grid simpleCart_shelfItem">
						<div class="grid-pro">
								<div  class=" grid-product " >
									<figure>		
										<a >
											<div class="grid-img">
												<img  src="{% static 'images\catagories\prada.jpeg'%}" class="img-responsive" alt="">
											</div>
											<div class="grid-img">
												<!-- <img  src="{% static 'images/pr11.jpg'%}" class="img-responsive"  alt=""> -->
											</div>			
										</a>		
									</figure>	
								</div>
								<div class="women">
									<a><img src="{% static 'images/ll.png'%}" alt=""></a>
									<h6><a>Lens Frames</a></h6>
									<p ><em class="item_price">5870.00</em></p>
									<!-- <a href="#" data-text="Add To Cart" class="but-hover1 item_add">Add To Cart</a> -->
								</div>
							</div>
						</div>
					<div class="clearfix"></div>
					</div>
					<div class="col-md-5 col-md1 animated wow fadeInRight" data-wow-delay=".1s">
						<div class="col-3">
							<a><img src="{% static 'images/pi2.jpg'%}" class="img-responsive " alt="">
							<div class="col-pic">
								<h5></h5>
								
							</div></a>
						</div>
						
					</div>
					<div class="clearfix"></div>
				</div>
			
			
				<!--products-->
<div class="social animated wow fadeInDown" data-wow-delay=".1s">
	<div class="container">
		<div class="col-sm-3 social-ic">
			<a href="#">FACEBOOK</a>
		</div>
		<div class="col-sm-3 social-ic">
			<a href="#">TWITTER</a>
		</div>
		<div class="col-sm-3 social-ic">
			<a href="#">GOOGLE+</a>
		</div>
		<div class="col-sm-3 social-ic">
			<a href="#">PINTEREST</a>
		</div>
	<div class="clearfix"></div>
	</div>
</div>

<!-- footer -->
	<div class="footer">
		<div class="container">
		<div class="footer-top">
		<div class="col-md-9 footer-top1">
		<h4>
		</div>
		<div class="col-md-3 footer-top2">
		<a href="contact.html">Contact Us</a>
		</div>
		<div class="clearfix"> </div>
		</div>
			<div class="footer-grids">
				<div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>No Matter What The Season Might Be, One Doesn’t Really Need A Reason To Flaunt A Pair Of Stylish Sunglasses. <span>Available In An Assorted Range And Variety Of Styles, Patterns And Colours, Sunglasses Have Established A Wide Market For Themselves And Are Here To Stay For A Long Time. </span></p>
				</div>
				<div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" ></i>123,AVENUE ROAD KOCHI <span>ERNANKULAM.</span></li>
						<li class="foot-mid"><i class="glyphicon glyphicon-envelope" ></i><a href="{% static 'mailto:info@example.com'%}">classicstyle@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" ></i>+91 9887659704</li>
					</ul>
				</div>
				<div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
				<h3>Sign up for newsletter </h3>
				<form>
					<input type="text" placeholder="Email"  required="">
					<input type="submit" value="Submit">
				</form>
			
				</div>
			
				<div class="clearfix"> </div>
			</div>
			
			<div class="copy-right animated wow fadeInUp" data-wow-delay=".5s">
				<p>&copy 2016 Classic Style. All rights reserved </p>
			</div>
		</div>
	</div>
<!-- //footer -->
</body>
</html>