{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Classic Style a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Checkout :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Classic Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}"  rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- //icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- cart -->
<script src="{% static 'js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<link href='//fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'></head>
	
<body>
<!-- header -->
	<div class="header">
			<div class="header-grid">
					<div class="container">
				<div class="header-left animated wow fadeInLeft" data-wow-delay=".5s">
					<ul>
					<!-- <li><i class="glyphicon glyphicon-headphones"></i><a href="#">24x7 live support</a></li>
						<li><i class="glyphicon glyphicon-envelope" ></i><a href="mailto:info@example.com">@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" ></i>+1234 567 892</li> -->
						
					</ul>
				</div>
				<div class="header-right animated wow fadeInRight" data-wow-delay=".5s">
				<div class="header-right1 ">
					<ul>
		
						<li><i class="glyphicon glyphicon-log-in" ></i><a href="login.html">Signout</a></li>
						<!-- <li><i class="glyphicon glyphicon-book" ></i><a href="register.html">Register</a></li> -->
					</ul>
				</div>
				<div class="header-right2">
					<div class="cart box_1">
						<h3> <div class="total">
						</div>
						<img src="{% static 'images/cart.png'%}" alt="" />
					</h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Cart</a></p>
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
			<div class="container">
			<div class="logo-nav">
				
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						 <div class="navbar-brand logo-nav-left wow fadeInLeft animated" data-wow-delay=".5s">
							<h1 class="animated wow pulse" data-wow-delay=".5s"><a href="index.html">Classic<span>Style</span></a></h1>
						</div>

					</div> 
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li ><a href="{% url 'home' %}" class="act">Home</a></li>	
                            <li ><a href="{% url 'orderlist'%}" class="act">Your orders</a></li>	
							<li ><a href="{% url 'userprofile'%}" class="act">Address Manager</a></li>	
                            <li ><a href="{% url 'create_user_profile' %}" class="act">User</a></li>
							<li ><a href="{% url 'wallet'%}" class="act">Wallet</a></li>
							<!-- Mega Menu -->
							<li class="dropdown">
								<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">shop <b class="caret"></b></a> -->
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu1</h6>
												
												
												<!-- <li><a href="products.html">Bags</a></li>
												<li><a href="products.html">Caps & Hats</a></li>
												<li><a href="products.html">Hoodies & Sweatshirts</a></li> -->
										
											<!-- </ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu2</h6>
												<li><a href="products.html">Jackets & Coats</a></li>
												<li><a href="products.html">Jeans</a></li>
												<li><a href="products.html">Jewellery</a></li>
												<li><a href="products.html">Jumpers & Cardigans</a></li>
												<li><a href="products.html">Leather Jackets</a></li>
												<li><a href="products.html">Long Sleeve T-Shirts</a></li>

											</ul>
										</div> -->
										<!-- <div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu3</h6>
												<li><a href="products.html">Shirts</a></li>
												<li><a href="products.html">Shoes, Boots & Trainers</a></li>
												<li><a href="products.html">Sunglasses</a></li>
												<li><a href="products.html">Sweatpants</a></li>
												<li><a href="products.html">Swimwear</a></li>
												<li><a href="products.html">Trousers & Chinos</a></li>

											</ul> -->
										<!-- </div>
										<div class="clearfix"></div>
									</div>
									<div class="row-top">
										<div class="col-sm-6 row1">
											<a href="products.html"><img src="{% static 'images/me.jpg' %}" alt="" class="img-responsive"></a>
										</div>
										<div class=" col-sm-6 row2">
											<a href="products.html"><img src="{% static 'images/me1.jpg' %}" alt="" class="img-responsive"></a>
										</div>
										<div class="clearfix"></div>
									</div> -->
								<!-- </ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
								<ul class="dropdown-menu multi multi1">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu1</h6>
												
												<li><a href="products1.html">Accessories</a></li>
												<li><a href="products1.html">Bags</a></li>
												<li><a href="products1.html">Caps & Hats</a></li>
												<li><a href="products1.html">Hoodies & Sweatshirts</a></li>
										
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu2</h6>
												<li><a href="products1.html">Jackets & Coats</a></li>
												<li><a href="products1.html">Jeans</a></li>
												<li><a href="products1.html">Jewellery</a></li>
												<li><a href="products1.html">Jumpers & Cardigans</a></li>
												<li><a href="products1.html">Leather Jackets</a></li>
												<li><a href="products1.html">Long Sleeve T-Shirts</a></li>

											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Submenu3</h6>
												<li><a href="products1.html">Shirts</a></li>
												<li><a href="products1.html">Shoes, Boots & Trainers</a></li>
												<li><a href="products1.html">Sunglasses</a></li>
												<li><a href="products1.html">Sweatpants</a></li>
												<li><a href="products1.html">Swimwear</a></li>
												<li><a href="products1.html">Trousers & Chinos</a></li>

											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="row-top">
										<div class="col-sm-6 row1">
											<a href="products1.html"><img src="images/me2.jpg" alt="" class="img-responsive"></a>
										</div>
										<div class=" col-sm-6 row2">
											<a href="products1.html"><img src="images/me3.jpg" alt="" class="img-responsive"></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							
							<li><a href="codes.html"> Codes</a></li> -->
							<!-- <li><a href="contact.html">Contact Us</a></li> -->
						</ul>
					</div>
					</nav>
				</div>
				
		</div>
	</div>
<!-- //header -->
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h2 class="animated wow fadeInLeft" data-wow-delay=".5s">My Orders</h2>
		<h3 class="animated wow fadeInRight" data-wow-delay=".5s"><a href="index.html">Home</a><label>/</label>userprofile / my orders</h3>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- contact -->
		<div class="check-out">	 
		<div class="container">	 
	 
				<script>$(document).ready(function(c) {
					$('.close1').on('click', function(c){
						$('.cross').fadeOut('slow', function(c){
							$('.cross').remove();
						});
						});	  
					});
			   </script>
			<script>$(document).ready(function(c) {
					$('.close2').on('click', function(c){
						$('.cross1').fadeOut('slow', function(c){
							$('.cross1').remove();
						});
						});	  
					});
			   </script>	
			   <script>$(document).ready(function(c) {
					$('.close3').on('click', function(c){
						$('.cross2').fadeOut('slow', function(c){
							$('.cross2').remove();
						});
						});	  
					});
			   </script>
               <!-- <div class="colorlib-form"> -->
               
                            <table class="table caption-top">
                                <!-- <caption>List of categories</caption> -->
                                <thead>
                                  <tr>
                                    <th scope="col">Order Number</th>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Order Status</th>
									<th scope="col">Action</th>
									
                                   
                                    
                                    
                                    
                                    

                                    
    
                                  </tr>
                                </thead>

								<tbody>
									{% for p in order %}
									<tr>
				
										<th><a href="{% url 'user_order_products' p.id %}">{{p.order_number}}</a></th>
                               
                                    <td>{{p.created_at}}</td>
                                    <td>{{p.payment.payment_method}}</td>
		
										<td style="color: {% if p.status == 'New' %}blue{% elif p.status == 'Delivered' %}green{% elif p.status == 'Pending' %}orange{% elif p.status == 'Cancelled' %}red{% endif %}">{{ p.status }}</td>
										
										
											{% if p.status == 'Delivered' %}
											<td>
											  <button onclick="openPopup('returnPopup')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#returnModal{{ p.id }}">
												Return Order
											  </button>
											
											</td>
										
											
											
											{% elif p.status == 'Cancelled'%}<td>Cancelled</td>
											{% elif p.status == 'Return'%}<td>Return request</td>
											{% elif p.status == 'Approved'%}<td>Return</td>
		
											{% else %}
											<td>
											  <button onclick="openPopup('cancelPopup')" type="button" class="btn btn-primary " data-toggle="modal" data-target="#cancelModal{{ p.id }}">
												Cancel Order
											  </button>
											</td>
										
											{% endif %}
										 
										
										  <!-- Cancel Order Modal -->
										  <div id="cancelModal{{ p.id }}" class="modal fade cancelModal">
											<div class="modal-dialog modal-dialog-centered">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title">Cancel Order</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closePopup('cancelPopup')">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <form id="cancelForm" method="POST" action="{% url 'cancel_order' p.id %}">
													{% csrf_token %}
													<textarea name="cancellation_reason" placeholder="Enter cancellation reason" required></textarea>
													<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-danger">Confirm Cancel </button>
												  </form>
												</div>
											  </div>
											</div>
										  </div>
										  
										  <!-- Return Order Modal -->
										  <div id="returnModal{{ p.id }}" class="modal fade returnModal">
											<div class="modal-dialog modal-dialog-centered">
											  <div class="modal-content">
												<div class="modal-header">
												  <h5 class="modal-title">Return Order</h5>
												  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closePopup('returnPopup')">
													<span aria-hidden="true">&times;</span>
												  </button>
												</div>
												<div class="modal-body">
												  <form id="returnForm" method="POST" action=" {% url 'return_order' p.id %}">
													{% csrf_token %}
													<textarea name="return_reason" placeholder="Enter return reason" required></textarea>
													<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-danger">Confirm Return </button>
												  </form>
												</div>
											  </div>
											</div>
										  </div>

										  
										  <script>
										  function openPopup(popupId) {
											var popup = document.getElementById(popupId);
											popup.style.display = 'block';
										  }
										  
										  function closePopup(popupId) {
											var popup = document.getElementById(popupId);
											popup.style.display = 'none';
										  }
										</script>
										</tbody>
										{% endfor %}
                               
                                   

                                    <script>
                                        function openPopup(popupId) {
                                          var popup = document.getElementById(popupId);
                                          popup.style.display = 'block';
                                        }
                                        
                                        function closePopup(popupId) {
                                          var popup = document.getElementById(popupId);
                                          popup.style.display = 'none';
                                        }
                                      </script>
                                      
    
                                </tbody>
                              </table>
                              
    
                            <!-- </div> -->
                        </div>
    
              
    
                
                


		  

		  
		
		
			
                    
                   
			<script>
			$('.value-plus').on('click', function(){
				var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
				divUpd.text(newVal);
			});

			$('.value-minus').on('click', function(){
				var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
				if(newVal>=1) divUpd.text(newVal);
			});
			</script>
			<!--quantity-->
			
<div class="social animated wow fadeInUp" data-wow-delay=".1s">
	<div class="container">
		<div class="col-sm-3 social-ic">
			<a href="#">FACEBOOK</a>
		</div>
		<div class="col-sm-3 social-ic">
			<a href="#">TWITTER</a>
		</div>
		<div class="col-sm-3 social-ic">
			<a href="#">GOOGLE+</a>
		</div>
		<div class="col-sm-3 social-ic">
			<a href="#">PINTEREST</a>
		</div>
	<div class="clearfix"></div>
	</div>
</div>

<!-- footer -->
	<div class="footer">
		<div class="container">
		<div class="footer-top">
		<div class="col-md-9 footer-top1">
		
		</div>
		<div class="col-md-3 footer-top2">
		<a href="contact.html">Contact Us</a>
		</div>
		<div class="clearfix"> </div>
		</div>
			<div class="footer-grids">
				<div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>No Matter What The Season Might Be, One Doesn’t Really Need A Reason To Flaunt A Pair Of Stylish Sunglasses.<span>Available In An Assorted Range And Variety Of Styles, Patterns And Colours, Sunglasses Have Established A Wide Market For Themselves And Are Here To Stay For A Long Time.</span></p>
				</div>
				<div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" ></i>123,AVENUE ROAD KOCHI  <span>ERNANKULAM.</span></li>
						<li class="foot-mid"><i class="glyphicon glyphicon-envelope" ></i><a href="mailto:info@example.com">classicstyle@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" ></i>+91 9887659704</li>
					</ul>
				</div>
				<div class="col-md-4 footer-grid animated wow fadeInLeft" data-wow-delay=".7s">
				<h3>Sign up for newsletter </h3>
				<form>
					<input type="text" placeholder="Email"  required="">
					<input type="submit" value="Submit">
				</form>
			
				</div>
			
				<div class="clearfix"> </div>
			</div>
			
			<div class="copy-right animated wow fadeInUp" data-wow-delay=".5s">
				<p>&copy 2016 Classic Style. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
</body>
</html>